body {
    background-image: url('bird.jpg');
    background-size: contain;      /* Show the whole image */
    background-repeat: no-repeat;
    background-position: 100px;
    min-height: 100vh;             /* Ensure full viewport height */
}


#two{
    height: 100px;
    width: 100px;
    background-image: url('image.png');
    background-size: cover;
    position: fixed;
    right: 0px;
    top: 50px;
}