div{
    background-color: rgb(247, 138, 138);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

a{
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
    margin-right: 45px;
}
}